<div class='container'>
  <h5 class="row col-md-5 mb-5 mt-1 offset-1">
    <span class="py-2 px-4 bg-light alert-secondary">商品新規登録</span>
  </h5>
    <div class='row'>
      <div class="col-10 offset-2">
        <!-登録/編集フォーム部分テンプレート->
        <%= render 'form', item: @item %>
      </div>
    </div>
</div>