<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 mt-3">
      <div class="card" style="background-size: cover;" >
        <img class="card-img " src="/assets/top.jpeg" alt="">
        <div class="card-img-overlay">
          <h5 >
            ようこそ、ながのケーキへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col ">
      <h3><strong>新着商品</strong></h3>
            
    </div>
  </div>

  









